<footer class="footer">
    <div class="bg-primary">
        <div class="container py-7 text-center">
            <p class="fs-7 fs-lg-5 text-white mb-0">© 2023. All Rights Reserved.</p>
        </div>
    </div>
</footer>