<header class="header fixed-top">
    <div class="bg-primary">
        <div class="container">
            <nav class="navbar navbar-expand-lg py-5">
                <div class="container d-flex justify-content-between">
                    <h1><a class="navbar-brand fs-3 lobster-two text-white" href="../pages/index.html"><img src="../assets/images/icon.png" alt="habit-piggy-icon" class="align-bottom">Habit Piggy</a></h1>
                    <div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-white fs-5 p-0" href="../pages/articles.html">推薦文章</a>
                                </li>
                                <li class="nav-item ps-16">
                                    <a class="nav-link text-white fs-5 p-0" href="../pages/subscription.html">訂閱方案</a>
                                </li>
                                <li class="nav-item ps-16">
                                    <a class="nav-link text-white fs-5 p-0" href="../pages/login.html">會員登入</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>