.habitTag {
  color: $white;
  border-radius: 8px;
  padding: 4px 12px;
}

.dailyHabit {
  background-color: $primary;
}

.weeklyHabit {
  background-color: $secondary;
}

.addHabit {
  background-color: $success;
}

.minusHabit {
  background-color: $warning;
}

.habit-card-title {
  min-width: 96px;
  @media (min-width: 992px) {
    min-width: 61px;
  }
}

.defaultTag {
  font-size: 20px;
  border-radius: 8px;
  padding: 4px 16px;
  border: 0;
}

.habitBtn input {
	clip: rect(0, 0, 0, 0);
}

.habitBtn label:hover {
	cursor: pointer;
}

.habitBtn input:checked + .dailyTag {
	background-color: $primary;
  color: $white;
}

.habitBtn input:checked + .weeklyTag {
	background-color: $secondary;
  color: $white;
}

.habitBtn input:checked + .addTag {
	background-color: $success;
  color: $white;
}

.habitBtn input:checked + .minusTag {
	background-color: $warning;
  color: $white;
}

.habitBtn input:checked + .feeTag {
	background-color: $primary;
  color: $white;
}