.habitTag {
  color: $white;
  border-radius: 8px;
  padding: 4px 12px;
}

.dailyHabit {
  background-color: $primary;
}

.weeklyHabit {
  background-color: $secondary;
}

.addHabit {
  background-color: $success;
}

.minusHabit {
  background-color: $warning;
}

.habit-card-title {
  min-width: 96px;
  @media (min-width: 992px) {
    min-width: 61px;
  }
}

.defaultTag {
  font-size: 20px;
  border-radius: 8px;
  padding: 4px 16px;
}

.dailyTag:hover, .dailyTag:focus {
  color: $white;
  background-color: $primary;
}

.weeklyTag:hover, .weeklyTag:focus {
  color: $white;
  background-color: $secondary;
}

.addTag:hover, .addTag:focus {
  color: $white;
  background-color: $success;
}

.minusTag:hover, .minusTag:focus {
  color: $white;
  background-color: $warning;
}

.feeTag:hover, .feeTag:focus {
  color: $white;
  background-color: $primary;
}