$header-height: 80px;
$footer-height: 62px;

.sidebar {
  min-height: calc(100vh - $header-height - $footer-height);
}

.sidebar-nav {
  color: $black;

  &:hover {
    color: $black;
    background-color: $tertiary;
  }
  
  &:active {
    background-color: $fifth;
  }
}

.sidebar-nav.active {
  background-color: $primary;
  font-weight: bold;
  color: $white;
}

.sidebar-item:active {
  display: block;
  color: $black;
  background-color: $fourth;
  border-radius: 8px;
}