.slick-dots li button:before {
  color: $fourth !important;
}

.slick-dots li.slick-active button:before {
  color: $primary !important;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px !important;
  color: $secondary !important;
}

.slick-prev {
  left: -48px !important;
  @media (min-width: 992px) {
    left: -69px !important;
  } 
}

.slick-next {
  @media (min-width: 992px) {
    right: -45px !important;
  } 
}

.slick-icon {
  height: 48px;
  width: 48px;
  @media (min-width: 768px) {
    height: 96px;
    width: 96px;
  }
}