@import "../../node_modules/bootstrap/scss/functions";
@import "./utils/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "./utils/utilities";
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "./base/font";

@import './layout/header.scss';
@import './layout/footer.scss';


@import './pages/index.scss';
