.index-title {
  font-size: 100px;
}

.banner {
  background-image: url(../images/banner-sm.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc( 100vh - 80px );
  @media (min-width: 768px) {
    background-image: url(../images/banner.png);
  }
}

.bg-custom {
  background-image: url(../images/bg-custom-removebg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 768px) {
    background-image: url(../images/bg-custom-removebg.png);
  }
}

.vh-custom {
  min-height: 75vh;

  @media (min-width: 992px) {
    min-height: 100vh;
  }
}