<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habit Piggy</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner">
      <div class="container text-center w-50 d-flex flex-column justify-content-center align-items-center h-100">
        <p class="lobster-two display-1 text-white typewriter1">Do and Track,</p>
        <p class="lobster-two display-1 text-white typewriter2">or Feed me!</p>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
