<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habit Piggy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="bg-cover" style="background-image: url(https://images.unsplash.com/photo-1596518433611-6f099bf4be3c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);">
      <div class="container">
        <div class="row row-cols-1 row-cols-lg-2 py-11 py-lg-16">
          <div class="col d-flex flex-column justify-content-center align-items-center align-items-lg-baseline px-13 px-lg-17 mb-7 mb-lg-0">
            <h2 class="fs-5 fs-lg-3 lobster-two text-white mb-1 mb-lg-5">Login</h2>
            <h3 class="fs-2 fs-lg-11 fw-bold text-white lh-sm mb-3 mb-lg-5 text-center text-lg-start">WELCOME<br>BACK</h3>
            <p class="fs-9 fs-lg-7 text-white">歡迎回到「Habit Piggy」！養成習慣、乖乖存錢，你今天選擇哪一個呢？</p>
          </div>
          <div class="col">
            <div class="p-7 p-lg-13 w-100 bg-light rounded">
              <h2 class="text-dark fs-5 fs-lg-10 lh-base fw-bold mb-3 mb-lg-7">會員登入</h2>
              <form>
                <div class="mb-3 mb-lg-7">
                  <label for="loginAccount" class="form-label fs-lg-5 fw-bold text-dark mb-1">Account</label>
                  <input type="text" class="form-control border-0 bg-white fs-6 fs-lg-5" id="loginAccount">
                </div>
                <div class="mb-3 mb-lg-7">
                  <label for="loginPassword" class="form-label fs-lg-5 fw-bold text-dark mb-1">Password</label>
                  <input type="password" class="form-control border-0 bg-white fs-6 fs-lg-5" id="loginPassword">
                </div>
                <div class="pb-7 pb-lg-12">
                  <button type="submit" class="btn btn-primary text-white fs-5 fs-lg-5 fw-bold py-3 px-8 px-lg-12">登入</button>
                </div>
                <div class="d-flex justify-content-between border-top border-black pt-5">
                  <p class="fs-8 fs-lg-7">還沒有帳號？</p>
                  <a href="../pages/register.html" class="fs-8 fs-lg-7 text-black">立即註冊<i class="bi bi-arrow-up-right ms-1"></i></a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
