<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habit Piggy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container py-11 py-lg-16">
        <div class="row mb-7 mb-lg-11">
            <div class="col-lg-8 mx-auto">
                <ol class="pay-list mt-5 d-flex justify-content-between list-unstyled position-relative">
                    <li class="d-flex flex-column align-items-center">
                        <p class="number fw-bold fs-5 fs-lg-3 d-flex justify-content-center align-items-center number-active mb-0">1</p>
                        <p class="fs-8 text-darkgray mt-1 mb-0">訂單確認</p>
                    </li>
                    <li class="d-flex flex-column align-items-center">
                        <p class="number fw-bold fs-5 fs-lg-3 d-flex justify-content-center align-items-center number-active mb-0">2</p>
                        <p class="fs-8 text-darkgray mt-1 mb-0">信用卡付款</p>
                    </li>
                    <li class="d-flex flex-column align-items-center">
                        <p class="number fw-bold fs-5 fs-lg-3 d-flex justify-content-center align-items-center number-active mb-0">3</p>
                        <p class="fs-8 text-darkgray mt-1 mb-0">付款成功</p>
                    </li>
                </ol>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="mb-7 mb-lg-11">
                    <div class="text-center text-lg-start">
                        <h3 class="fs-5 fs-lg-4 mb-3">訂購成功</h3>
                        <p class="fs-lg-6">以下為您的訂單細節：</p>
                    </div>
                    <div class="bg-light border border-primary border-3 rounded-1 py-5 px-8 py-lg-7 px-lg-10">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="fs-7 fs-lg-6 mb-0">月費</p>
                                <p class="fs-8 fs-lg-7 text-darkgray mb-0">開始計費日期：2023 年 09 月 17 日</p>
                            </div>
                            <p class="fs-6 fs-lg-5 mb-0">每月 NT$109</p>
                        </div>
                        <div class="border border-bottom border-primary my-5"></div>
                        <div class="d-flex justify-content-between">
                            <p class="fs-7 fs-lg-6 mb-0">付款金額</p>
                            <p class="fs-6 fs-lg-5 mb-0">NT$109</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary text-white fs-6 fs-lg-5 fw-bold py-3 px-8 px-lg-12" href="../pages/today.html" role="button">立即養成習慣</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>