<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habit Piggy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="py-11 py-lg-16 bg-cover" style="background-image: url(https://images.unsplash.com/photo-1687027053771-76a0460d1c68?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2832&q=80);">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 text-center text-lg-start ps-lg-17">
            <h2 class="fs-5 fs-lg-3 text-white lobster-two mb-3 mb-lg-5">Subscribe</h2>
            <h3 class="fs-3 fs-lg-1 text-white fw-bold mb-5 mb-lg-7">每月只需支付 NT$109 即可暢享訂閱服務</h3>
            <p class="fs-6 fs-lg-4 text-white mb-5 mb-lg-7">習慣數目無限制、多元化頻率設定、圖表分析，以及更多專屬功能。</p>
            <button type="text" class="btn btn-primary text-white fs-6 fs-lg-5 fw-bold py-3 px-8 px-lg-12">月付最低 NT$109</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-11 py-lg-16">
      <h3 class="fs-1 fw-bold text-center mb-7 mb-lg-12">升級訂閱會員有什麼好處？</h3>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <table class="table table-bordered border-primary text-center mb-7 mb-lg-12">
            <thead>
              <tr class="fs-6 fs-lg-3 table-primary border-primary py-4 py-lg-5">
                <th scope="col">使用功能</th>
                <th scope="col">免費會員</th>
                <th scope="col">訂閱會員</th>
              </tr>
            </thead>
            <tbody>
              <tr class="fs-6 fs-lg-3 py-4 py-lg-5">
                <td scope="row">新增習慣數目</td>
                <td>最多三個</td>
                <td class="fw-bold text-primary">無上限</td>
              </tr>
              <tr class="fs-6 fs-lg-3 py-4 py-lg-5">
                <td scope="row">設定罰款</td>
                <td>可</td>
                <td>可</td>
              </tr>
              <tr class="fs-6 fs-lg-3 py-4 py-lg-5">
                <td scope="row">設定執行頻率</td>
                <td>只有每日</td>
                <td class="fw-bold text-primary">自訂</td>
              </tr>
              <tr class="fs-6 fs-lg-3 py-4 py-lg-5">
                <td scope="row">圖表分析</td>
                <td>無</td>
                <td class="fw-bold text-primary">有</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <h3 class="fs-1 fw-bold mb-4 mb-lg-6">心動不如馬上心動！</h3>
            <p class="fs-6 fs-lg-4 mb-7 mb-lg-10">現在訂閱，第一個月內完全免費！</p>
            <button type="text" class="btn btn-primary text-white fs-6 fs-lg-5 fw-bold py-3 px-8 px-lg-12">立即訂閱</button>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
